#parse("/templates/fragments/_general_header.vm")
<body>
    #parse("/templates/fragments/_general_menu.vm")
    <div class="container">
        #parse("/templates/fragments/_admin_menu.vm")

        Witamy $userName w panelu admina!
    </div>
</body>
#parse("/templates/fragments/_general_footer.vm")