#parse("/templates/fragments/_general_header.vm")
<body>
    #parse("/templates/fragments/_general_menu.vm")
    <div class="container">
        #parse("/templates/fragments/_admin_menu.vm")
        <table>
            <thead>
                <tr>
                    <th data-field="id">Nazwa</th>
                    <th data-field="name">Opublikowana</th>
                    <th data-field="name">Opcje</th>
                </tr>
            </thead>

            <tbody>
                #foreach ($page in $pages)
                <tr id="page-entry-$page.getId()">
                    <td>$page.getName()</td>

                    <td>
                    #if ($page.isPublished())
                    Tak
                    #else
                    Nie
                    #end
                    </td>

                    <td>
                        <a href="/admin/pages/$page.getId()"><i class="material-icons">mode_edit</i></a>
                        <a href="#" onclick="deleteStaticPage($page.getId()); return false;"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
</body>
#parse("/templates/fragments/_general_footer.vm")