<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">#OnlyDiorite</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="http://diorite.org/boards/">Forum</a></li>
            <li><a href="http://ci.diorite.org/job/Diorite/">Jenkins</a></li>
            <li><a href="https://github.com/Diorite/Diorite/">GitHub</a></li>
            <li><a href="http://diorite.org/nexus/">Nexus</a></li>

            #if ($isLoggedIn)
            <ul id="user-dropdown" class="dropdown-content">
              <li><a href="/profile/$userId">Profile</a></li>
              <li><a href="/settings">Settings</a></li>
              <li class="divider"></li>
              #if ($isAdmin)
              <li><a href="/admin" class="red-text">Admin</a></li>
              <li class="divider"></li>
              #end
              <li><a href="/auth/logout">Logout</a></li>
            </ul>

            <li><a class="dropdown-button" href="#!" data-activates="user-dropdown">$userName<i class="material-icons right">arrow_drop_down</i></a></li>

            #else
            <li><a href="/auth/login">Login</a></li>
            #end
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="http://diorite.org/SorryWeDoNotHaveFormYet/">Forum</a></li>
            <li><a href="http://ci.diorite.org/job/Diorite/">Jenkins</a></li>
            <li><a href="https://github.com/Diorite/Diorite/">GitHub</a></li>
            <li><a href="http://diorite.org/nexus/">Nexus</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>