#parse("/templates/fragments/_general_header.vm")
<body>
    #parse("/templates/fragments/_general_menu.vm")
    #parse("/templates/fragments/_admin_menu.vm")

    Witamy $userName w panelu admina!
</body>
#parse("/templates/fragments/_general_footer.vm")